@import '../../Variables.scss';

.voteContainer{
  padding-top: 10vh;
  overflow: hidden;
  .ButtonVote{
    display: flex;
    justify-content: center;
    float: left;
    border-radius: 30px;
    border: 0;
    padding: 5px;
    width: 40vw;
    height: 13vw;
    background: #2c8de7;
    color: #ffffff;
    font-size: 5vw;

    font-weight: 700;
    margin: 8vw 5vw;
    margin-left: 7vw;
    margin-right: auto;
  
  }

  .MuiInputBase-root-71 {

    margin-left: 6vw;
}
  .ChipsArray-root-3 {
    display: flex;
    padding: 14px;
    flex-wrap: wrap;
    margin-bottom: 5vw;
    justify-content: center;
}

  .VoteTexte{
    padding: 2vw 6vw;
    background-color: rgba($color: #0172a5, $alpha: 0.2)
  }

  .VoteTitre{
    background-color: rgba($color: rgb(250, 250, 250), $alpha: 1.0) ;
    width: 100%;
    height: 10vw;
    padding: 2vw 2vw;
    margin-top: 5vw;
  }

  .StarsRating{
    display: flex;
    margin: 5vw 5vw;
    
    i{
      color: #6d6b6b;
      font-size: 10vw;
      margin:3vw;
    }
    p{
      text-align: center;
    }
    .orange{
      color:orange;  
    }
  }
  .VoteChips{
    p{
      margin-left: 3vw;
    }
  }
  .Question{
    font-weight: 700;
    padding: 0 5vw;
    text-align: center;
  }
}