

.BackSearch {

    background-color: white;

.searchB {
    border-radius: 15px;
    border: 1px solid #039ce0;
    width: 90vw;
    height: 5vh;
    margin: auto;
    display: flex;
    margin-top: 5%;
}

.Loupe {
    height: 3vh;
    width: 5vw;
    margin-top: -4vh;
    margin-left: 85vw;
    position: absolute;
}

}

.BackMen {

    background-color: white;

.Menudef {
    display: flex;
    margin: auto;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2%;


.Tous{
    padding: 5px;
    height: 5vh;
    color: white;    
    width: 45vw;
    justify-content: center;
    text-align: center;
    background-color:  rgb(3, 156, 224);
    border-radius: 5px 0 0 5px;
}

.Defis{
    color: grey;
    padding: 5px;
    border: 1px solid grey;
    text-align: center;
    width: 45vw;
    background-color: white;
    border-radius: 0 5px 5px 0;

}

}

}

.Plus {
    height: 70px;
    width: 70px;
    margin-top: 110%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.contentsSearch {
    padding-top: 10vh;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    z-index: 200;
}


