.searchB {
    border-radius: 50px;
    border: 1px solid #039ce0;
    width: 96vw;
    height: 5vh;
    margin: auto;
    display: flex;
    margin-top: 17%;
}

.Loupe {
    height: 4vh;
    width: 8vw;
    margin-top: -4.8vh;
    margin-left: 85vw;
    position: absolute;
}