@import '../../Variables.scss';



.NewDefContainer{

    z-index: 1;
    padding-top: 42vw;
    padding-bottom: 20vw;


    .NouveauxNewDef {

        .Defis {
            background-color: #d3e0f2 !important;
            padding-top: 1vh;
            padding-bottom: 1vh;
        }

        .progress-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-color: #e8e8e8;
            -webkit-transition: width .6s ease;
            transition: width .6s ease;
        }
        
        .TextCate {
            display: flex;
            padding-bottom: 0vh;
            padding-top: 0.3vh;
            padding-left: 2vh;
            background-color: #e8e8e8;
            margin-top: 2vh;
            
        }

        .bordure {
            border-bottom:1px solid rgb(209, 206, 206);
            width: 100%;
            }
            

        .Defis{
        background-color: rgba($color: $blue, $alpha: 0.3);
        padding: 2vw;
        margin: -3vw;
        .Title{
        font-size: 3.2vw;
        }

        
        hr {
            
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .progress {
            height: 3px !important;
            margin-top: -2vh;

        }

        .textdef {
            display: flex;
            margin-top: 2vh;
            font-size: 1.1em;
            white-space: nowrap;
        }

       

        .flechage {
            margin-left: 11vh;
            margin-top: 2.5vh;

            .fleche{
                color: $blue;
                font-size: 6vw;
            }    
        
        }

        .emoji {
            display: flex;
            margin-top: 2.5vh;
            margin-left: -1vw;
            margin-bottom: -6vw;
           i{
           color:gray;
        
            }

            .fas.fa-lightbulb {
                margin-left: 3vw; 
                margin-top: 0em;

                 
            }
        }

        .numb {
            margin-left: 1vw;
        }
        
        
        .progress-bar, .progress{
        height: 3px !important;
        }
        }
        hr{
        width: 100%;
        }
 
    }

    .EnCoursNewDef {

        .TextCate {
            display: flex;
            padding-bottom: 0vh;
            padding-top: 0.3vh;
            background-color: #e8e8e8;
            margin-top: 2vh;
            padding-left: 2vh;
            
        }

        .bordure {
            border-bottom:1px solid rgb(209, 206, 206);
            width: 100%;
            }
            

        .Defis{
        background-color: $white;
        .Title{
        font-size: 3.2vw;
        }

        
        hr {
            
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .progress {
            height: 3px !important;
            margin-top: -2vh;

        }

        .textdef {
            display: flex;
            margin-top: 2vh;
            font-size: 1.1em;
            white-space: nowrap;
        }

       

        .flechage {
            margin-left: -2vh;
            margin-top: 2.5vh;

            .fleche{
                color: $blue;
                font-size: 6vw;
            }    
        
        }

        .emoji {
            display: flex;
            margin-top: 2.5vh;
            margin-left: -1vw;
            margin-bottom: -6vw;
           i{
           color:gray;
        
            }

            .fas.fa-lightbulb {
                margin-left: 3vw; 
                margin-top: 0em;

                 
            }
        }

        .numb {
            margin-left: 1vw;
        }
        
        
        .progress-bar, .progress{
        height: 3px !important;
        }
        }
        hr{
        width: 100%;
        }

    }

    .TermineNewDef {

        .progress-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-color: #ff9900;
            -webkit-transition: width .6s ease;
            transition: width .6s ease;
        }

        .TextCate {
            display: flex;
            padding-bottom: 0vh;
            padding-top: 0.3vh;
            background-color: #e8e8e8;
            margin-top: 2vh;
            padding-left: 2vh;
            
        }

        .bordure {
            border-bottom:1px solid rgb(209, 206, 206);
            width: 100%;
            }
            

        .Defis{
        background-color: $white;
        .Title{
        font-size: 3.2vw;
        }

        
        hr {
            
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .progress {
            height: 3px !important;
            margin-top: -2vh;

        }

        .textdef {
            display: flex;
            margin-top: 2vh;
            font-size: 1.1em;
            white-space: nowrap;
        }

       

        .flechage {
            margin-left: -2vh;
            margin-top: 2.5vh;

            .fleche{
                color: $blue;
                font-size: 6vw;
            }    
        
        }

        .emoji {
            display: flex;
            margin-top: 2.5vh;
            margin-left: -1vw;
            margin-bottom: -6vw;
           i{
           color:gray;
        
            }

            .fas.fa-lightbulb {
                margin-left: 3vw; 
                margin-top: 0em;

                 
            }
        }

        .numb {
            margin-left: 1vw;
        }
        
        
        .progress-bar, .progress{
        height: 3px !important;
        }
        }
        hr{
        width: 100%;
        }

    }

   
}