///// IMPORT VARIABLES SCSS /////

// @import '../../../Variables.scss';

///// SCSS /////

.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 10vw;
  width: 10vw;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line{
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 5px;
}