///// IMPORT VARIABLES SCSS /////

@import '../../../Variables.scss';

///// SCSS ////

.side-drawer {
  display: flex;
  height:90vh;
  box-shadow: -5px 0px 5px rgba($color: #777, $alpha: 0.6);
  position: fixed;
  top: 10vh;
  right: 0;
  width: 65%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(105%);
  transition: transform 0.3s ease-out;
  background-color: $white;

  ul{
    margin-top: 5vw;
    list-style: none;
    display: flex;
    flex-direction: column;

    hr{
      width: 65%;
      border-bottom: solid $black 1px;
    }

    div{
      display: flex;
      flex-direction: column;
      
      i{
        font-size: 7vw;
        color: $black;
      }
      
      a {
        color: $black;
        text-decoration: none;
        font-size: 5vw;
      }
    }
    
    li {
      margin: 5vw 10vw;
      align-self: flex-end;
    }
    
    a:hover,
    a:active {
      color: $blue;
    }
  }
}

.side-drawer.open {
  transform : translateX(0)
}

@media screen and(min-width:426px) {
  .side-drawer {
    display: none;
  }
}