///// IMPORT VARIABLES SCSS /////

@import '../../../Variables.scss';

///// SCSS ////

.DeplaceMen {}

#listeDefis {

  display: flex;
  padding-top: 4em;
}

#listeIdees {
  margin-top: 5em;
}

#profil {
  margin-top: 5em;
} 

#aide {
  margin-top: 5em;
} 

.fas.fa-rocket {
  color: white;
  margin-top: 1em;
}

.fas.fa-home {
  color: white;
}


.fas.fa-user-circle {
  color: white;
  margin-top: 1em;
}

.fas.fa-info-circle {
  color: white;
  margin-top: 1em;
}

hr {
  width: 77% !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid white;
  margin-left: 0.5em;
}

.TwoObj {
  margin-top: -1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid white;
  margin-left: 2em;
  padding: auto;
  margin-bottom: 2em;
  
  
}

ul hr {
  width: 65%;
  border-bottom: solid white 1px !important;
}

.side-drawer {
  padding-top: 2em;
  display: flex;
  height: 90vh;
  box-shadow: -5px 0px 5px rgba(119, 119, 119, 0.6);
  position: fixed;
  top: 10vh;
  right: 0;
  width: 65%;
  max-width: 400px;
  z-index: 200;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  background-color: #222222c9;
}

  ul{
    margin-top: 5vw;
    list-style: none;
    display: flex;
    flex-direction: column;



    div{
      display: flex;
      flex-direction: column;
      
      i{
        font-size: 7vw;
        color: $black;
      }
      
      a {
        color: white;
        text-decoration: none;
        font-size: 5vw;
      }
    }
    
    li {
      margin: 5vw 10vw;
      align-self: flex-end;
    }
    
    a:hover,
    a:active {
      color: $blue;
    }
  }


.side-drawer.open {
  transform : translateX(0)
}

@media screen and(min-width:426px) {
  .side-drawer {
    display: none;
  }
}