///// IMPORT VARIABLES SCSS /////

@import '../../Variables.scss';

///// SCSS ////


.CatchPhraseContainer{
  display: flex;
  flex-direction: column;
  padding-top:10vh;
  height: 100vh;
  background: linear-gradient($white, #e0f1ff);
  .CatchPhraseSection{
    margin: auto;
    width: 80vw;
    box-shadow: gray 2px 5px 20px;
    border-radius: 15px;
    .AmpouleContainer{
      border-radius: 15px 15px 0 0;
      background-color: $blue;
      height: 30vh;
      .ampouleLogo{
        height: 20vh;
        display: flex;
        margin: auto;
        padding-top: 5vh;
      }
    }
    .CatchPhrase{
      height: 30vh;
      padding: 5vh 5vw;
      font-size: 2.5vh;
      text-align: center;
      background-color: $white;
      border-radius: 0 0 15px 15px;
    }
  }
  .CatchPhraseButton{
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 12px;
    border: 0;
    padding: 5px;
    width: 92vw;
    height: 9vh;
    background: linear-gradient($blue, #0172a5);
    color: $white;
    font-size: 20px;
    box-shadow: -1px 3px 13px #082d4f;
    font-weight: 700;
    margin-bottom: 5vh;
    
    
  }
}