///// IMPORT VARIABLES SCSS /////

// @import '../../../Variables.scss';

///// SCSS ////

.backdrop{
  position:fixed;
  width : 100%;
  height: 96em;
  top: 4em;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1200;
}