@import '../../Variables.scss';


.PopUpConfirm{
  top: 20vh;
  left: 10vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  // padding-top: 25vh;
  width: 80vw;
  height: 60vh;
  position: fixed;
  background-color: $white;
  z-index: 200;
  border-radius: 10px;
  h3{
    margin-top: 5vh;
    text-align: center;
  }
  .fusee{
    width: 80vw;
    height: 50vw;
    border-radius: 10px 10px 0 0 ;
  }
  .ButtonPopUp{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border: 0;
    width: 35vw;
    height: 13vw;
    background: linear-gradient($blue, #0172a5);
    color: $white;
    font-size: 4vw;
    box-shadow: -1px 3px 13px #082d4f;
    font-weight: 700;
    margin: 5vh 2.5vw;
  }
}