@import '../../Variables.scss';


.PopUpIdea{
  top: 15vh;
  left: 10vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80vw;
  height: 65vh;
  position: fixed;
  background-color: $white;
  z-index: 2000;
  border-radius: 10px;
  h3{
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
    font-size: 7vw;
  }
  .gif{
    width: 80vw;
    height: 60vw;
    border-radius: 10px 10px 0 0 ;
  }
  .ButtonPopUp{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border: 0;
    width: 35vw;
    height: 13vw;
    background: #039ce0;
    color: $white;
    font-size: 4vw;
    font-weight: 700;
    margin: 3vh 2.5vw 0;
  }
}