@import '../../Variables.scss';

.RecapVoteContainer{

  .voteContainer {
    padding-top: 12vh;
    overflow: hidden;
}



  padding-top: 10vh;
  .ButtonRecapVote{
    display: flex;
    justify-content: center;
    float: left;
    border-radius: 14px !important;
    border: 0;
    padding: 5px;
    width: 40vw;
    height: 13vw;
    background: #2c8de7 !important;
    color: #ffffff;
    font-size: 5vw;

    font-weight: 700;
    margin: 8vw 5vw;
    margin-left: auto;
    margin-right: auto;
  }
  .MuiInputBase-root-70 {

    margin-left: 6vw;
}
  
  .RecapVoteTitre{
    background-color: rgba($color: #ccc, $alpha: 1.0) ;
    width: 100%;
    height: 10vw;
    padding: 2vw 2vw;
    margin-top: 5vw;
  }
  .RecapVoteTexte{
    padding: 2vw 6vw;
    background-color: rgba($color: #0172a5, $alpha: 0.2)
  }
  .RecapVoteSondage{
    padding: 0 5vw;
    b{
      font-size: 5vw;
    }
  }
  .Question {
    font-weight: 700;
    padding: 0 5vw;
    text-align: center;
}
  .ChipsArray-root-3 {
    display: flex;
    padding: 19px;
    flex-wrap: wrap;
    margin-bottom: 5vw;
    justify-content: center;
    margin-bottom: 2vh;
}
  .ChipsRecapVote{
    a{
      color: gray;
      text-decoration: none;
    }
    p{
      padding: 5vw 3vw 0;
    }
  }
}

.voteButtonsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 5vw;
}