///// IMPORT VARIABLES SCSS /////

@import '../../../Variables.scss';

///// SCSS /////


.Navbar {
  a {
    display: flex;
    margin-top: -2.1em;
    justify-content: left;
    margin-left: 10vw;
  }
}

@media screen and(max-width:425px){
  .Navbar {
    background: linear-gradient($blue, $darkblue);
    height: 4em;
    display: flex;
    position: fixed;
    width: 100%;
    margin-bottom: 10vh;
    z-index: 2000;

    .Logo {
      margin: auto;
      
      .Logo_ZideUp{
        width: 30vw;
        float: left;
        margin-top: 1em;
        display: flex;
        text-align: center;
        position: fixed;
        margin-left: -17vw;
      }
    }
    .Navbar-toggle-button{
      margin: auto 0;
    }
  }
}

@media screen and(min-width: 426px) {
  .Navbar-toggle-button {
    display: none;
  }
}